<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgriYield</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="nav">
          <h1>AgriYield</h1>
          <div class="navbar">
            <a href="#About">About</a><a href="#Form">Predict</a><a href="#Contact">Contact</a>
          </div>
        </div>
        <div class="web-about">
          <h1>Crop Yield Prediction</h1>
          <p>
            Use our website to predict crop yields accurately, helping farmers
            plan better and optimize their harvests.
          </p>
        </div>
      </div>
    </header>
    <div class="black"></div>
    <main>
      <div id="About">
        <h1>About</h1>
        <p>
          AgriYield uses advanced algorithms to provide accurate crop yield
          predictions, helping farmers optimize their harvests, increase
          efficiency, and make informed agricultural decisions for a sustainable
          future
        </p>
      </div>
      <h1>Predict Your Crop Yield</h1>
      <div id="Form">
        <form action="/predict" method="post">
          <div class="pre">
            <label for="Year">Year</label>
            <input type="number" name="Year" step="any" placeholder="Enter the Year" />
          </div>
          <div class="pre">
            <label for="average_rain_fall_mm_per_year">Rainfall per Year</label>
            <input
              type="number"
              name="average_rain_fall_mm_per_year"
              step="any"
              placeholder="Enter Rainfall/Year"
            />
          </div>
          <div class="pre">
            <label for="pesticides_tonnes">Pesticides in Tons</label>
            <input type="number" name="pesticides_tonnes" step="any" placeholder="Enter Pesticides used" />
          </div>
          <div class="pre">
            <label for="avg_temp">Average Temperature</label>
            <input type="number" name="avg_temp" step="any" placeholder="Enter Avg temp" />
          </div>
          <div class="pre">
            <label for="Area">Area</label>
            <input type="text" name="Area" placeholder="Enter Your Area"/>
          </div>
          <div class="pre">
            <label for="Item">Crop</label>
            <input type="text" name="Item" placeholder="Enter The Crop"/>
          </div>
          <button type="submit" class="btn btn-danger btn-lg mt-2 btn-block">
            Predict
          </button>
        </form>
        <div class="ans">
          {% if prediction %}
          <h2 class="text-center">Yield : {{prediction}}</h2>

          {% endif %}
        </div>
      </div>
    </main>
    <footer>
        <h2>Contact Us</h2>
        <div id="Contact">
           <p>Mobile No : 8604962653</p>
        </div>
        <div class="email">
          <p>Email - alisadiq9014@gmail.com</p>
        </div>
    </footer>
  </body>
</html>
